body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: white;
}

* {
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
}
